<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body><a href="next"><font color="orange">Resume</font></a>
	<a href="blog"><font color="orange">Blog</font></a>
	<a href="gallery"><font color="orange">Gallery</font></a><br>
	<h1><i>Welcome to my blog</h1><br>
		<p>Blogs are informal articles written for the purpose of showing thought leadership and expertise on a topic. They are a great way to generate fresh content on a website and provide a catalyst for email marketing, social media promotion to drive search traffic to your website.</p><br>
		<ul><li>Helps Get Your Website Found</li></ul><br>
		<p >The ultimate goal in creating blogs is to drive as much traffic to your website as possible. When you create a blog post this creates one more indexed page on your website, meaning it’s one more opportunity for you to show up in search engines and drive traffic to your website. Creating content regularly informs search engines, such as Google, that your website is actively updated and therefore should be checked frequently to see what new content has surfaced.Once you have posted a blog on your website, don’t stop there! Make sure you promote your blog by sharing it on social media. This strengthens your social media reach, helps your content get found and drives new website visitors to your blog via your social media accounts. It also facilitates content to be shared on social media for anyone who finds it interesting.</p>
		<br>
		<ul><li>Use That Traffic to Convert Visitors to Leads</li></ul><br>
		<p>When you attract new visitors to your website this creates a new opportunity to generate leads. This is where your Call-To-Action (CTA) buttons come in handy. A CTA is a way of directing your website visitors through your website, to keep them engaged on your site, guide them through their journey from awareness to purchase. Good CTA’s include “Find out more”, “download”, discounts, free offers, options to subscribe to your mailing list, etc. You can also use the CTA button on a blog post to move the visitor along to another relevant blog topic on your website or even convert them to a relevant page on your website that explains your services.</p>

</body>
</html>