<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body><a href="next"><font color="orange">Resume</font></a>
	<a href="blog"><font color="orange">Blog</font></a>
	<a href="gallery"><font color="orange">Gallery</font></a><br>
	<fieldset style="border: 1px solid blue">
		<legend style="border: 1px solid">MY Resume</legend><br>
		<b>Name :-</b>
		<span>Parag Jaiswal</span><br>
		<b>Email :-</b>
		<span>paragjaiswal@gmail.com</span><br>
		<b>Address :-</b>
		<span>Indore</span><br>
		<b>Education :-</b>
		<span>B.E(Electronics and Communication)</span><br>
		<b>Experience :-</b>
		<span>2 years</span><br>
		<b>Technology :-</b>
		<span>Python</span><br>
		<b>Hobbies :-</b>
		<span>Playing Cricket</span><br>
	</fieldset>

</body>
</html>
